.menu{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    margin: 0px;
    background-color: hotpink;
}
.grid{
border:2px solid black;
border-radius: 50px;
}
.origami{

    border-radius: 20px;
    background-color: indianred;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}
.origami:hover{
    transform: scale(1.2);
}
a:link{
    color: rgba(0, 139, 23, 0.664);
}
a:visited{
    color: rgba(21, 0, 139, 0.945);
}